[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyqt6 = "*"
toml = "*"
py7zr = "*"
openpyxl = "*"

[dev-packages]
invoke = "*"
pyinstaller = "*"
isort = "*"
black = "*"
pyqt6-tools = "*"
flake8 = "*"

[requires]
python_version = "3.8"
